clouds:
  rdo-cloud:
    auth:
      auth_url: https://phx2.cloud.rdoproject.org:13000/v3
      project_name: <your-project-name>
      user_domain_name: Default
      project_domain_name: Default
      username: <your-user-name>
      password: <your-password>
    region: RegionOne
    networks:
    - name: <name-of-external-network-to-use>
      nat_source: true
# networks: section maybe omited but the os cloud being deployed against should be configured correctly,
# with a default external network which has ipv4 routing.